# Database Connection
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/pingtome?schema=public"

# Shared Secrets
JWT_SECRET="super-secret-jwt-key-change-me"
